@import '../../scss/component';

:host {
  display: inline-flex;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--v-font-size-x-small);
  font-weight: var(--v-font-weight-semibold);
  letter-spacing: var(--v-letter-spacing-normal);
  line-height: 1;
  border-radius: var(--v-border-radius-small);
  white-space: nowrap;
  padding: 3px 6px;
  user-select: none;
  cursor: inherit;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Type modifiers
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.badge--primary {
  background-color: var(--v-color-primary-500);
  color: var(--v-color-white);
}

.badge--success {
  background-color: var(--v-color-success-500);
  color: var(--v-color-white);
}

.badge--info {
  background-color: var(--v-color-info-500);
  color: var(--v-color-white);
}

.badge--warning {
  background-color: var(--v-color-warning-500);
  color: var(--v-color-white);
}

.badge--danger {
  background-color: var(--v-color-danger-500);
  color: var(--v-color-white);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Pill modifier
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.badge--pill {
  border-radius: var(--v-border-radius-pill);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Pulse modifier
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.badge--pulse {
  animation: pulse 1.5s infinite;
}

.badge--pulse.badge--primary {
  --pulse-color: var(--v-color-primary-500);
}

.badge--pulse.badge--success {
  --pulse-color: var(--v-color-success-500);
}

.badge--pulse.badge--info {
  --pulse-color: var(--v-color-info-500);
}

.badge--pulse.badge--warning {
  --pulse-color: var(--v-color-warning-500);
}

.badge--pulse.badge--danger {
  --pulse-color: var(--v-color-danger-500);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--pulse-color);
  }
  70% {
    box-shadow: 0 0 0 0.5rem transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}
