:host {
   font-family: 'Poppins', sans-serif;
   font-size: 14px
}

.persona {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.persona p {
  margin:5px 0px;
}

.person-transformation {
  text-align: right;
}

.gray {
  color:#B5B5C3
}

