.v-theme-dark {
  /* Inputs */
  --v-input-background-color: var(--v-color-gray-900);
  --v-input-background-color-hover: var(--v-color-gray-900);
  --v-input-background-color-focus: var(--v-color-gray-900);
  --v-input-background-color-disabled: var(--v-color-gray-800);
  --v-input-border-color: var(--v-color-gray-700);
  --v-input-border-color-hover: var(--v-color-gray-600);
  --v-input-border-color-focus: var(--v-color-primary-500);
  --v-input-border-color-disabled: var(--v-color-gray-200);
  --v-input-border-color-invalid: var(--v-color-danger-500);
  --v-input-font-family: var(--v-font-sans);
  --v-input-font-weight: var(--v-font-weight-normal);
  --v-input-font-size-small: var(--v-font-size-small);
  --v-input-font-size-medium: var(--v-font-size-medium);
  --v-input-font-size-large: var(--v-font-size-large);
  --v-input-letter-spacing: var(--v-letter-spacing-normal);
  --v-input-border-color: var(--v-color-gray-700);
  --v-input-border-color-hover: var(--v-color-gray-600);
  --v-input-border-color-focus: var(--v-color-primary-400);
  --v-input-border-color-disabled: var(--v-color-gray-700);
  --v-input-border-color-invalid: var(--v-color-danger-500);
  --v-input-color: var(--v-color-gray-200);
  --v-input-color-hover: var(--v-color-gray-200);
  --v-input-color-focus: var(--v-color-gray-200);
  --v-input-color-disabled: var(--v-color-gray-100);
  --v-input-color-invalid: var(--v-color-danger-600);
  --v-input-icon-color: var(--v-color-gray-500);
  --v-input-icon-color-hover: var(--v-color-gray-300);
  --v-input-icon-color-focus: var(--v-color-gray-300);
  --v-input-placeholder-color: var(--v-color-gray-600);
  --v-input-placeholder-color-disabled: var(--v-color-gray-500);

  /* Overlays */
  --v-overlay-background-color: #d1d5db22;

  /*  Panels */
  --v-panel-background-color: var(--v-color-gray-900);
  --v-panel-border-color: var(--v-color-gray-800);

  /* Tooltips */
  --v-tooltip-background-color: var(--v-color-gray-200);
  --v-tooltip-color: var(--v-color-black);
}

/* Alert */
.v-theme-dark v-alert::part(base) {
  background-color: var(--v-color-gray-900);
  border-left-color: var(--v-color-gray-800);
  border-right-color: var(--v-color-gray-800);
  border-bottom-color: var(--v-color-gray-800);
  color: var(--v-color-gray-200);
}

/* Avatar */
.v-theme-dark v-avatar::part(base) {
  background-color: var(--v-color-gray-700);
  color: var(--v-color-gray-300);
}

/* Button */
.v-theme-dark v-button[type='default']::part(base) {
  background-color: var(--v-color-gray-900);
  border-color: var(--v-color-gray-700);
  color: var(--v-color-gray-400);
}

.v-theme-dark v-button[type='default']:not([disabled])::part(base):hover {
  background-color: var(--v-color-primary-950);
  border-color: var(--v-color-primary-800);
  color: var(--v-color-primary-400);
}

.v-theme-dark v-button[type='default']:not([disabled])::part(base):focus {
  background-color: var(--v-color-primary-950);
  border-color: var(--v-color-primary-800);
  color: var(--v-color-primary-400);
  box-shadow: 0 0 0 var(--v-focus-ring-width) hsla(var(--v-color-primary-hue), var(--v-color-primary-saturation), 50%, var(--v-focus-ring-alpha));
}

.v-theme-dark v-button[type='default']:not([disabled])::part(base):active {
  background-color: var(--v-color-primary-900);
  border-color: var(--v-color-primary-700);
  color: var(--v-color-primary-300);
}

/* Card */
.v-theme-dark v-card::part(base) {
  background-color: var(--v-color-gray-900);
  --border-color: var(--v-color-gray-800);
}

/* Checkbox & radio */
.v-theme-dark v-checkbox::part(control),
.v-theme-dark v-radio::part(control) {
  color: var(--v-color-gray-900);
}

/* Color picker */
.v-theme-dark v-color-picker::part(format-button) {
  background-color: var(--v-color-gray-900);
  border-color: var(--v-color-gray-700);
  color: var(--v-color-gray-400);
}

.v-theme-dark v-color-picker::part(format-button):hover {
  background-color: var(--v-color-primary-950);
  border-color: var(--v-color-primary-800);
  color: var(--v-color-primary-400);
}

.v-theme-dark v-color-picker::part(format-button):focus {
  background-color: var(--v-color-primary-950);
  border-color: var(--v-color-primary-800);
  color: var(--v-color-primary-400);
  box-shadow: 0 0 0 var(--v-focus-ring-width) hsla(var(--v-color-primary-hue), var(--v-color-primary-saturation), 50%, var(--v-focus-ring-alpha));
}

.v-theme-dark v-color-picker::part(format-button):active {
  background-color: var(--v-color-primary-900);
  border-color: var(--v-color-primary-700);
  color: var(--v-color-primary-300);
}

.v-theme-dark v-color-picker::part(panel) {
  background-color: var(--v-color-gray-900);
  border-color: var(--v-color-gray-800);
}

.v-theme-dark v-color-picker::part(slider-handle) {
  background-color: var(--v-color-gray-800);
  box-shadow: 0 0 0 1px var(--v-color-gray-600);
}

.v-theme-dark v-color-picker::part(slider-handle):focus {
  box-shadow: 0 0 0 1px var(--v-color-primary-500), 0 0 0 var(--v-focus-ring-width) var(--v-focus-ring-color-primary);
}

.v-theme-dark v-color-picker::part(grid-handle) {
  border-color: var(--v-color-gray-900);
}

.v-theme-dark v-color-picker::part(preview),
.v-theme-dark v-color-picker::part(opacity-slider),
.v-theme-dark v-color-picker::part(trigger) {
  background-image: linear-gradient(45deg, #333 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #333 75%), linear-gradient(45deg, transparent 75%, #333 75%),
    linear-gradient(45deg, #333 25%, transparent 25%);
}

.v-theme-dark v-color-picker::part(swatches) {
  border-top-color: var(--v-color-gray-800);
}

/* Details */
.v-theme-dark v-details::part(base) {
  border-color: var(--v-color-gray-800);
}

/* Icon button */
.v-theme-dark v-icon-button::part(base) {
  color: var(--v-color-gray-400);
}

.v-theme-dark v-icon-button:not([disabled])::part(base):hover,
.v-theme-dark v-icon-button:not([disabled])::part(base):focus {
  color: var(--v-color-primary-500);
}

.v-theme-dark v-icon-button:not([disabled])::part(base):active {
  color: var(--v-color-primary-400);
}

/* Image comparer */
.v-theme-dark v-image-comparer::part(divider),
.v-theme-dark v-image-comparer::part(handle) {
  background-color: var(--v-color-gray-900);
  color: var(--v-color-gray-400);
}

/* Menu item */
.v-theme-dark v-menu-item::part(base) {
  color: var(--v-color-gray-200);
}

.v-theme-dark v-menu-item::part(base):focus {
  background-color: var(--v-color-primary-600);
  color: var(--v-color-white);
}

.v-theme-dark v-menu-item[disabled]::part(base) {
  color: var(--v-color-gray-600);
}

/* Menu label */
.v-theme-dark v-menu-label::part(base) {
  color: var(--v-color-gray-600);
}

/* Progress bar */
.v-theme-dark v-progress-bar::part(base) {
  background-color: var(--v-color-gray-800);
}

.v-theme-dark v-progress-bar::part(indicator) {
  color: var(--v-color-gray-900);
}

/* Progress ring */
.v-theme-dark v-progress-ring::part(base) {
  --track-color: var(--v-color-gray-800);
}

/* Range */
.v-theme-dark v-range {
  --track-color: var(--v-color-gray-800);
}

/* Rating */
.v-theme-dark v-rating {
  --symbol-color: var(--v-color-gray-700);
}

/* Select */
.v-theme-dark v-select::part(tag) {
  background-color: var(--v-color-info-800);
  border-color: var(--v-color-info-700);
  color: var(--v-color-info-300);
}

/* Skeleton */
.v-theme-dark v-skeleton {
  --color: var(--v-color-gray-800);
  --sheen-color: var(--v-color-gray-700);
}

/* Spinner */
.v-theme-dark v-spinner {
  --track-color: #f9fafb20;
}

/* Switch */
.v-theme-dark v-switch::part(thumb) {
  background-color: var(--v-color-gray-900);
}

.v-theme-dark v-switch::part(control) {
  background-color: var(--v-color-gray-700);
  border-color: var(--v-color-gray-700);
}

.v-theme-dark v-switch:not([disabled])::part(control):hover {
  background-color: var(--v-color-gray-600);
  border-color: var(--v-color-gray-600);
}

.v-theme-dark v-switch[checked]::part(control) {
  background-color: var(--v-color-primary-600);
  border-color: var(--v-color-primary-600);
}

.v-theme-dark v-switch[checked]::part(control):hover {
  background-color: var(--v-color-primary-500);
  border-color: var(--v-color-primary-500);
}

/* Tab group */
.v-theme-dark v-tab-group::part(tabs) {
  --tabs-border-color: var(--v-color-gray-800);
}

/* Tab */
.v-theme-dark v-tab::part(base) {
  color: var(--v-color-gray-400);
}

.v-theme-dark v-tab:not([disabled])::part(base):hover,
.v-theme-dark v-tab[active]::part(base) {
  color: var(--v-color-primary-500);
}

/* Tag */
.v-theme-dark v-tag[type='primary']::part(base) {
  background-color: var(--v-color-primary-950);
  border-color: var(--v-color-primary-900);
  color: var(--v-color-primary-300);
}

.v-theme-dark v-tag[type='success']::part(base) {
  background-color: var(--v-color-success-950);
  border-color: var(--v-color-success-900);
  color: var(--v-color-success-300);
}

.v-theme-dark v-tag[type='info']::part(base) {
  background-color: var(--v-color-info-800);
  border-color: var(--v-color-info-700);
  color: var(--v-color-info-300);
}

.v-theme-dark v-tag[type='warning']::part(base) {
  background-color: var(--v-color-warning-950);
  border-color: var(--v-color-warning-900);
  color: var(--v-color-warning-300);
}

.v-theme-dark v-tag[type='danger']::part(base) {
  background-color: var(--v-color-danger-950);
  border-color: var(--v-color-danger-900);
  color: var(--v-color-danger-300);
}
