/*! Vetrify */

:root {
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Theme color tokens
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --v-color-black: #000;
  --v-color-white: #fff;

  --v-color-gray-50: #f9fafb;
  --v-color-gray-100: #f3f4f6;
  --v-color-gray-200: #e5e7eb;
  --v-color-gray-300: #d1d5db;
  --v-color-gray-400: #9ca3af;
  --v-color-gray-500: #6b7280;
  --v-color-gray-600: #4b5563;
  --v-color-gray-700: #374151;
  --v-color-gray-800: #1f2937;
  --v-color-gray-900: #111827;
  --v-color-gray-950: #0d131e;

  --v-color-primary-50: #e9f3e9;
  --v-color-primary-100: #bddcbd;
  --v-color-primary-200: #a7d1a7;
  --v-color-primary-300: #91c591;
  --v-color-primary-400: #7ab97a;
  --v-color-primary-500: #4ea24e;
  --v-color-primary-600: #228b22;
  --v-color-primary-700: #1b6f1b;
  --v-color-primary-800: #145314;
  --v-color-primary-900: #0e380e;
  --v-color-primary-950: #071c07;
  --v-color-primary-text: var(--v-color-white);

  --v-color-success-50: #f0fdf4;
  --v-color-success-100: #dcfce7;
  --v-color-success-200: #bbf7d0;
  --v-color-success-300: #86efac;
  --v-color-success-400: #4ade80;
  --v-color-success-500: #22c55e;
  --v-color-success-600: #16a34a;
  --v-color-success-700: #15803d;
  --v-color-success-800: #166534;
  --v-color-success-900: #14532d;
  --v-color-success-950: #0d381e;
  --v-color-success-text: var(--v-color-white);

  --v-color-info-50: #f9fafb;
  --v-color-info-100: #f3f4f6;
  --v-color-info-200: #e5e7eb;
  --v-color-info-300: #d1d5db;
  --v-color-info-400: #9ca3af;
  --v-color-info-500: #6b7280;
  --v-color-info-600: #4b5563;
  --v-color-info-700: #374151;
  --v-color-info-800: #1f2937;
  --v-color-info-900: #111827;
  --v-color-info-950: #0d131e;
  --v-color-info-text: var(--v-color-white);

  --v-color-warning-50: #fffbeb;
  --v-color-warning-100: #fef3c7;
  --v-color-warning-200: #fde68a;
  --v-color-warning-300: #fcd34d;
  --v-color-warning-400: #fbbf24;
  --v-color-warning-500: #f59e0b;
  --v-color-warning-600: #d97706;
  --v-color-warning-700: #b45309;
  --v-color-warning-800: #92400e;
  --v-color-warning-900: #78350f;
  --v-color-warning-950: #4d220a;
  --v-color-warning-text: var(--v-color-white);

  --v-color-danger-50: #fef2f2;
  --v-color-danger-100: #fee2e2;
  --v-color-danger-200: #fecaca;
  --v-color-danger-300: #fca5a5;
  --v-color-danger-400: #f87171;
  --v-color-danger-500: #ef4444;
  --v-color-danger-600: #dc2626;
  --v-color-danger-700: #b91c1c;
  --v-color-danger-800: #991b1b;
  --v-color-danger-900: #7f1d1d;
  --v-color-danger-950: #481111;
  --v-color-danger-text: var(--v-color-white);

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Border radius tokens
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --v-border-radius-small: 0.125rem; // 2px
  --v-border-radius-medium: 0.25rem; // 4px
  --v-border-radius-large: 0.5rem; // 8px
  --v-border-radius-x-large: 1rem; // 16px

  --v-border-radius-circle: 50%;
  --v-border-radius-pill: 9999px;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Elevation tokens
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --v-shadow-x-small: 0 1px 0 #0d131e0d;
  --v-shadow-small: 0 1px 2px #0d131e1a;
  --v-shadow-medium: 0 2px 4px #0d131e1a;
  --v-shadow-large: 0 2px 8px #0d131e1a;
  --v-shadow-x-large: 0 4px 16px #0d131e1a;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Spacing tokens
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --v-spacing-xxx-small: 0.125rem; // 2px
  --v-spacing-xx-small: 0.25rem; // 4px
  --v-spacing-x-small: 0.5rem; // 8px
  --v-spacing-small: 0.75rem; // 12px
  --v-spacing-medium: 1rem; // 16px
  --v-spacing-large: 1.25rem; // 20px
  --v-spacing-x-large: 1.75rem; // 28px
  --v-spacing-xx-large: 2.25rem; // 36px
  --v-spacing-xxx-large: 3rem; // 48px
  --v-spacing-xxxx-large: 4.5rem; // 72px

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Transition tokens
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --v-transition-x-slow: 1000ms;
  --v-transition-slow: 500ms;
  --v-transition-medium: 250ms;
  --v-transition-fast: 150ms;
  --v-transition-x-fast: 50ms;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Typography tokens
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  // Fonts
  --v-font-mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  --v-font-sans: 'Open Sans', Roboto, Montserrat, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --v-font-serif: Georgia, 'Times New Roman', serif;

  --v-font-content: 'Open Sans'
  --v-font-header: Montserrat

  // Font sizes
  --v-font-size-xx-small: 0.625rem; // 10px
  --v-font-size-x-small: 0.75rem; // 12px
  --v-font-size-small: 0.875rem; // 14px
  --v-font-size-medium: 1rem; // 16px
  --v-font-size-large: 1.25rem; // 20px
  --v-font-size-x-large: 1.5rem; // 24px
  --v-font-size-xx-large: 2.25rem; // 36px
  --v-font-size-xxx-large: 3rem; // 48px
  --v-font-size-xxxx-large: 4.5rem; // 72px

  // Font weights
  --v-font-weight-light: 300;
  --v-font-weight-normal: 400;
  --v-font-weight-semibold: 500;
  --v-font-weight-bold: 700;

  // Letter spacings
  --v-letter-spacing-dense: -0.015em;
  --v-letter-spacing-normal: normal;
  --v-letter-spacing-loose: 0.075em;

  // Line heights
  --v-line-height-dense: 1.4;
  --v-line-height-normal: 1.8;
  --v-line-height-loose: 2.2;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Form tokens
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  // Focus ring
  --v-focus-ring-color-primary: #0ea5e954;
  --v-focus-ring-color-success: #22c55e54;
  --v-focus-ring-color-info: #6b728054;
  --v-focus-ring-color-warning: #f59e0b54;
  --v-focus-ring-color-danger: #ef444454;
  --v-focus-ring-width: 3px;

  // Buttons
  --v-button-font-size-small: var(--v-font-size-x-small);
  --v-button-font-size-medium: var(--v-font-size-small);
  --v-button-font-size-large: var(--v-font-size-medium);

  // Inputs
  --v-input-height-small: 1.875rem; // 30px
  --v-input-height-medium: 2.5rem; // 40px
  --v-input-height-large: 3.125rem; // 50px

  --v-input-background-color: var(--v-color-white);
  --v-input-background-color-hover: var(--v-color-white);
  --v-input-background-color-focus: var(--v-color-white);
  --v-input-background-color-disabled: var(--v-color-gray-100);

  --v-input-border-color: var(--v-color-gray-300);
  --v-input-border-color-hover: var(--v-color-gray-400);
  --v-input-border-color-focus: var(--v-color-primary-500);
  --v-input-border-color-disabled: var(--v-color-gray-300);
  --v-input-border-width: 1px;

  --v-input-border-radius-small: var(--v-border-radius-medium);
  --v-input-border-radius-medium: var(--v-border-radius-medium);
  --v-input-border-radius-large: var(--v-border-radius-medium);

  --v-input-font-family: var(--v-font-sans);
  --v-input-font-weight: var(--v-font-weight-normal);
  --v-input-font-size-small: var(--v-font-size-small);
  --v-input-font-size-medium: var(--v-font-size-medium);
  --v-input-font-size-large: var(--v-font-size-large);
  --v-input-letter-spacing: var(--v-letter-spacing-normal);

  --v-input-color: var(--v-color-gray-700);
  --v-input-color-hover: var(--v-color-gray-700);
  --v-input-color-focus: var(--v-color-gray-700);
  --v-input-color-disabled: var(--v-color-gray-900);

  --v-input-icon-color: var(--v-color-gray-400);
  --v-input-icon-color-hover: var(--v-color-gray-600);
  --v-input-icon-color-focus: var(--v-color-gray-600);

  --v-input-placeholder-color: var(--v-color-gray-400);
  --v-input-placeholder-color-disabled: var(--v-color-gray-600);

  --v-input-spacing-small: var(--v-spacing-small);
  --v-input-spacing-medium: var(--v-spacing-medium);
  --v-input-spacing-large: var(--v-spacing-large);

  // Labels
  --v-input-label-font-size-small: var(--v-font-size-small);
  --v-input-label-font-size-medium: var(--v-font-size-medium);
  --v-input-label-font-size-large: var(--v-font-size-large);

  --v-input-label-color: inherit;

  // Help text
  --v-input-help-text-font-size-small: var(--v-font-size-x-small);
  --v-input-help-text-font-size-medium: var(--v-font-size-small);
  --v-input-help-text-font-size-large: var(--v-font-size-medium);

  --v-input-help-text-color: var(--v-color-gray-400);

  // Toggles (checkboxes, radios, switches)
  --v-toggle-size: 1rem;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Overlay tokens
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --v-overlay-background-color: #37415180;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Panels
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --v-panel-background-color: var(--v-color-white);
  --v-panel-border-color: var(--v-color-gray-200);

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Tooltip tokens
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --v-tooltip-border-radius: var(--v-border-radius-medium);
  --v-tooltip-background-color: var(--v-color-gray-900);
  --v-tooltip-color: var(--v-color-white);
  --v-tooltip-font-family: var(--v-font-sans);
  --v-tooltip-font-weight: var(--v-font-weight-normal);
  --v-tooltip-font-size: var(--v-font-size-small);
  --v-tooltip-line-height: var(--v-line-height-dense);
  --v-tooltip-padding: var(--v-spacing-xxx-small) var(--v-spacing-x-small);
  --v-tooltip-arrow-size: 5px;
  --v-tooltip-arrow-start-end-offset: 8px;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Z-index tokens
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --v-z-index-drawer: 700;
  --v-z-index-dialog: 800;
  --v-z-index-dropdown: 900;
  --v-z-index-toast: 950;
  --v-z-index-tooltip: 1000;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Internal utility classes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

[hidden] {
  display: none !important;
}

.v-scroll-lock {
  overflow: hidden !important;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Component light DOM styles - only follow this pattern when absolutely necessary!
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import '../components/alert/alert.light-dom';
@import '../components/button-group/button-group.light-dom';