@import '../../scss/component';
@import '../../functional-components/form-control/form-control';

/**
 * @prop --focus-ring: The focus ring style to use when the control receives focus, a `box-shadow` property.
 */
:host {
  --focus-ring: 0 0 0 var(--v-focus-ring-width) var(--v-focus-ring-color-primary);
  display: block;
}

.input {
  flex: 1 1 auto;
  display: inline-flex;
  align-items: stretch;
  justify-content: start;
  position: relative;
  width: 100%;
  font-family: var(--v-input-font-family);
  font-weight: var(--v-input-font-weight);
  letter-spacing: var(--v-input-letter-spacing);
  background-color: var(--v-input-background-color);
  border: solid var(--v-input-border-width) var(--v-input-border-color);
  vertical-align: middle;
  overflow: hidden;
  transition: var(--v-transition-fast) color, var(--v-transition-fast) border, var(--v-transition-fast) box-shadow;
  cursor: text;

  &:hover:not(.input--disabled) {
    background-color: var(--v-input-background-color-hover);
    border-color: var(--v-input-border-color-hover);

    .input__control {
      color: var(--v-input-color-hover);
    }
  }

  &.input--focused:not(.input--disabled) {
    background-color: var(--v-input-background-color-focus);
    border-color: var(--v-input-border-color-focus);
    box-shadow: var(--focus-ring);

    .input__control {
      color: var(--v-input-color-focus);
    }
  }

  &.input--disabled {
    background-color: var(--v-input-background-color-disabled);
    border-color: var(--v-input-border-color-disabled);
    opacity: 0.5;
    cursor: not-allowed;

    .input__control {
      color: var(--v-input-color-disabled);

      &::placeholder {
        color: var(--v-input-placeholder-color-disabled);
      }
    }
  }
}

.input__control {
  flex: 1 1 auto;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  min-width: 0;
  height: 100%;
  color: var(--v-input-color);
  border: none;
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: inherit;
  -webkit-appearance: none;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 var(--v-input-height-large) var(--v-input-background-color-hover) inset !important;
    -webkit-text-fill-color: var(--v-color-primary-500);
  }

  &::placeholder {
    color: var(--v-input-placeholder-color);
    user-select: none;
  }

  &:focus {
    outline: none;
  }
}

.input__prefix,
.input__suffix {
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  cursor: default;

  ::slotted(v-icon) {
    color: var(--v-input-icon-color);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Size modifiers
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.input--small {
  border-radius: var(--v-input-border-radius-small);
  font-size: var(--v-input-font-size-small);
  height: var(--v-input-height-small);

  .input__control {
    height: calc(var(--v-input-height-small) - var(--v-input-border-width) * 2);
    margin: 0 var(--v-input-spacing-small);
  }

  .input__clear,
  .input__password-toggle {
    margin-right: var(--v-input-spacing-small);
  }

  .input__prefix ::slotted(*) {
    margin-left: var(--v-input-spacing-small);
  }

  .input__suffix ::slotted(*) {
    margin-right: var(--v-input-spacing-small);
  }
}

.input--medium {
  border-radius: var(--v-input-border-radius-medium);
  font-size: var(--v-input-font-size-medium);
  height: var(--v-input-height-medium);

  .input__control {
    height: calc(var(--v-input-height-medium) - var(--v-input-border-width) * 2);
    margin: 0 var(--v-input-spacing-medium);
  }

  .input__clear,
  .input__password-toggle {
    margin-right: var(--v-input-spacing-medium);
  }

  .input__prefix ::slotted(*) {
    margin-left: var(--v-input-spacing-medium);
  }

  .input__suffix ::slotted(*) {
    margin-right: var(--v-input-spacing-medium);
  }
}

.input--large {
  border-radius: var(--v-input-border-radius-large);
  font-size: var(--v-input-font-size-large);
  height: var(--v-input-height-large);

  .input__control {
    height: calc(var(--v-input-height-large) - var(--v-input-border-width) * 2);
    margin: 0 var(--v-input-spacing-large);
  }

  .input__clear,
  .input__password-toggle {
    margin-right: var(--v-input-spacing-large);
  }

  .input__prefix ::slotted(*) {
    margin-left: var(--v-input-spacing-large);
  }

  .input__suffix ::slotted(*) {
    margin-right: var(--v-input-spacing-large);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Pill modifier
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.input--pill {
  &.input--small {
    border-radius: var(--v-input-height-small);
  }

  &.input--medium {
    border-radius: var(--v-input-height-medium);
  }

  &.input--large {
    border-radius: var(--v-input-height-large);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Clearable + Password Toggle
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.input__clear,
.input__password-toggle {
  display: inline-flex;
  align-items: center;
  font-size: inherit;
  color: var(--v-input-icon-color);
  border: none;
  background: none;
  padding: 0;
  transition: var(--v-transition-fast) color;
  cursor: pointer;

  &:hover {
    color: var(--v-input-icon-color-hover);
  }

  &:focus {
    outline: none;
  }
}

.input--empty .input__clear {
  visibility: hidden;
}
