:host {
   font-family: 'Poppins', sans-serif;
   font-size: 14px
}

.transformation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transformation p {
  margin:5px 0px;
}
a {
  color:#B5B5C3;
}

.detail {
  margin-left: 10px;
}
